{{ partial "header" . }}
  <div class="py-5 text-center text-white bg-light" style="background-image: url('/assets/weekend.jpg'); background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="mb-3">{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light" >
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Wanneer?</b></h5>
                </div>
              </div>
              <p>22-24 november</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-map-marker-alt"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Waar?</b></h5>
                </div>
              </div>
              <p>Dweerse Kromstraat 35, 9120 Melsele (bij Antwerpen in België)</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-euro-sign"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Kosten</b></h5>
                </div>
              </div>
              <p>richtlijn: 50 euro pp (mag ook meer, om het mogelijk te maken dat mensen minder betalen)</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-users"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>&nbsp; &nbsp; Voor wie</b></h5>
                </div>
              </div>
              <p>Idealisten. Of. Mensen die van stilte houden. Of. Mensen die dromen &amp; ideeën hebben voor het KloosterBoerderijFestival 2020. Of. Mensen die zin hebben in mooie ontmoetingen met bevlogen mensen. Of mensen die een combi van bovenstaande zijn.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-clipboard-list"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Programma</b></h5>
                </div>
              </div>
              <p>Tijdens het hele weekend is er ‘muur’: ‘pop-up workshops die ontstaan van uit de deelnemers. Van wandelen tot liedjeszingen en dromen over wereldvrede tot het plannen van concrete acties tegen kernwapens.&nbsp;<br><br>Ook gaan we tijdens het weekend met mensen die zin hebben nadenken over het festival voor zomer 2020</p>
              <p>Hieronder is een <a href="#schedule">tijdschema</a> te vinden voor het weekend</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2">
                  <i class="d-block mx-auto fa fa-3x fa-smile"></i>
                </div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">
                    <b>Enthousiast?</b></h5>
                </div>
              </div>
              <a class="btn btn-secondary mb-3" href="https://registratie.kloosterboerderijfestival.nl/kbf/weekend2019/" target="blank">Meld je aan!</a>
              <p style="font-weight: bold;">Aanmelden kan tot en met zaterdag 16 November.</p>
              <p>Nog vragen? Mail ons op info<span id="dummy">REMOVE</span>@klooster<span id="dummy">REMOVE</span>boerderijfestival<span id="dummy">REMOVE</span>.nl</p>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;/assets/weekend/achtergrond.jpg&quot;);" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4 text-center">Programma</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Vrijdag 22 nov</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 15:00 – <b>Voor wie wil kan 's middags al aankomen</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 19:00 – <b>Welkom + soep</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 20:30 – <b>Taizé gebed</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 21:30 – <b>Kampvuur en verhalen</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Zaterdag 23 nov</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 08:00 – <b>Taizé gebed met aansluitend ontbijt</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 09:30 – <b>Werken in o.a. de moestuin, koken</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 12:30 – <b>Taizé gebed</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 13:00 - <b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 14:00 – <b>Muur: ruimte voor workshops, wandelen, creativiteit, etc.</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 16:30 – <b>Dromen over KBF 2020 + 'muur'</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 18:30 – <b>Avondmaaltijd</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 20:30 – <b>Taizé gebed</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 21:30 – <b>Kampvuur en muziek</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Zondag 24 nov</h2>
            </div>
             <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 09:00 – <b>Ontbijt</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 10:00 – <b>Viering</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 11:00 – <b>Koffie</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 13:00 – <b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 14:00 - <b>Concretiseren plannen voor KBF 2020 + ‘muur’</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock text-primary"></i> 16:00 – <b>Einde (smeer je boterhammen voor de terugreis)</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="text-center mx-auto col-lg-8 col-10">
          <h1 class="mb-3">Impressie</h1>
          <div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
              <div class="carousel-item active"> <img class="d-block w-100" src="/weekend/images/IMG_20181125_120325.jpg"> </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_1998.JPG"> </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_1993.JPG"> </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_2008.JPG"> </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_2015.JPG" > </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_2019.JPG" > </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_2077.JPG" > </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_20181124_135530.jpg" > </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_20181125_110039.jpg" > </div>
              <div class="carousel-item"> <img class="d-block w-100" src="/weekend/images/IMG_20181125_123944.jpg" > </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
              <li data-target="#carousel1" data-slide-to="1"> </li>
              <li data-target="#carousel1" data-slide-to="2"> </li>
              <li data-target="#carousel1" data-slide-to="3"> </li>
              <li data-target="#carousel1" data-slide-to="4"> </li>
              <li data-target="#carousel1" data-slide-to="5"> </li>
              <li data-target="#carousel1" data-slide-to="6"> </li>
              <li data-target="#carousel1" data-slide-to="7"> </li>
              <li data-target="#carousel1" data-slide-to="8"> </li>
              <li data-target="#carousel1" data-slide-to="9"> </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}

