  <!-- Cover -->
  <div class="align-items-center py-5 section-aquamarine d-flex bg-primary" style="background-image: url({{ .Param "logo" | relURL }});">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-2 d-none d-md-block text-center">{{ .Param "title" }}</h1>
          <h1 class="display-5 d-block d-md-none text-center">{{ .Param "title-splitted" }}</h1>
          <h4 class="text-center"><i>{{ .Param "subtitle" }}</i></h4>
          <h3 class="text-center">9 - 16 augustus 2019</h3>
          <h4 class="text-center">Abdij Koningshoeven, vlakbij Tilburg</h4>
         <p class="text-center"><a href="/weekend" class="btn btn-dark"><b class="">WEEKEND</b></a>
         <a href="https://framapiaf.org/@kbf" class="btn btn-dark"><i class="fab fa-mastodon"></i><b class="">  {{ T "follow" }}</b></a>
         </p>
        </div>
      </div>
    </div>
  </div>

