  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;assets/achtergrond.jpg&quot;);" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4 text-center">{{ .Param "programma.titel" }}</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        {{ range .Site.Params.programma.blokken }}
        <div class="p-4 col-lg-6 col-md-12">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>{{ .name }}</h2>
              <p class="lead">{{ .description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                {{ range .tijden }}
                <li class="list-group-item {{ if .highlight }}bg-success{{ end }}">{{ if .link }}<a href="{{ .link }}" class=""><i class="mx-auto fa d-inline fa-clock text-primary"></i> {{ .tijd }} – <b>{{ .item }}</b></a>{{ else }}<i class="mx-auto fa d-inline fa-clock text-primary"></i> {{ .tijd }} – <b>{{ .item }}</b>{{ end }}</li>
                {{ if .sub }}
                  <ul>
                  {{ range .sub }}
                  <li class="list-group-item {{ if .highlight }}bg-success{{ end }}">{{ if .link }}<a href="{{ .link }}" class="nav-link"><i class="mx-auto fa d-inline fa-clock text-primary"></i> {{ .tijd }} – <b>{{ .item }}</b></a>{{ else }}<i class="mx-auto fa d-inline fa-clock text-primary"></i> {{ .tijd }} – <b>{{ .item }}</b>{{ end }}</li>
                  {{ end }}
                  </ul>
                {{ end  }}
                {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
      </div>
</div>

