{{ partial "header" . }}

 <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ $id := 1 }}
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ range $data.faq.questions }}
          {{ $id = add $id 1 }}
          <div class="card bg-light">
            <div class="card-header" id="heading{{ $id }}" role="tab">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse{{ $id }}" aria-expanded="true" aria-controls="collapse{{ $id }}">
                <h5 class="mb-0">{{ .question }} <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapse{{ $id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ $id }}" data-parent="#accordionEx">
              <div class="card-body">
                <p class="card-text">{{ .answer }}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

{{ partial "footer" . }}

